#### 튜플 (tuple):

In [1]:
e = (1, 2, ('Life', 'is'))
e[2]

('Life', 'is')

In [2]:
e[2][1]

'is'

#### 튜플의 슬라이싱 (slicing):

In [3]:
a = (1, 2, 3, ['a', 'b', 'c'], 4, 5)
a[3][:2]

['a', 'b']

#### 튜플 연산하기:

In [8]:
a = (1, 2, 3)
b = (4, 5, 6)
a + b

(1, 2, 3, 4, 5, 6)

In [9]:
a * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

#### 딕셔너리 (dictionary):

In [10]:
d = {'x':[1,2,3], 'y':[4,5,6]}
d['x']

[1, 2, 3]

#### 딕셔너리 짝 추가, 삭제, 변경:

In [11]:
a = {}
a['이름'] = '홍길동'
a['성별'] = '남'
a['나이'] = 35
a

{'이름': '홍길동', '성별': '남', '나이': 35}

In [12]:
del a['나이']
a

{'이름': '홍길동', '성별': '남'}

In [13]:
a['이름'] = '임꺽정' 
a

{'이름': '임꺽정', '성별': '남'}

#### 딕셔너리 관련 함수:

In [14]:
a.keys()

dict_keys(['이름', '성별'])

In [ ]:
a.values()

In [ ]:
a.items()

In [ ]:
a.clear()
a

In [ ]:
a = {'name': 'JONE', 'gender': 'MALE', 'age': 35} 
a.get('wage', 0)

In [ ]:
'name' in a

In [ ]:
'wage' in a

#### 집합의 원소에는 중복이 없음:

In [ ]:
b = set([1,2,3,3,3,3,4,5])
b

#### 집합 연산하기:

In [ ]:
s1 = set([1, 2, 3, 4, 5])
s2 = set([4, 5, 6, 7, 8])
s1 & s2

In [ ]:
s1.intersection(s2)

In [ ]:
s1 | s2

In [ ]:
s1.union(s2)

In [ ]:
s1 - s2

In [ ]:
s1.difference(s2)

In [ ]:
a = set([1, 2, 3, 4, 5]) 
a.add(6)
a

In [ ]:
a.update([7, 8, 9])
a

In [ ]:
a.remove(9)
a

#### 변경 가능한 자료형 (mutable):

In [ ]:
a = [1, 2, 3, 4, 5]
b = a

In [ ]:
id(a)

In [ ]:
id(b)

In [ ]:
b[0] = -999
a

#### Immutable 안의 mutable 자료:

In [ ]:
a = (1, 2, [3, 4] )
a[2][0] = -999
a