### 다음 물음에 답하는 코드를 작성하시오.

1). A학급의 학생 신장을 조사해 보니 다음과 같다:

161.5 <br>
155.9 <br>
168.7 <br>
163.1 <br>
170.8 <br>
167.2 <br>

위 자료를 리스트로 정리해본다.

In [ ]:
list1 = [161.5, 155.9 , 168.7 , 163.1 , 170.8 , 167.2 ]

리스트와 for 반복문을 사용해서 평균 신장을 구해본다.

In [ ]:
sum = 0
for i in list1:
    sum += i

avr1 = sum/len(list1)
avr1

2). B학급의 학생 신장을 조사해 보니 다음과 같다:

172.5 <br>
162.9 <br>
161.7 <br>
160.1 <br>
161.8 <br>
159.2 <br>

A학급과 같은 방법으로 평균 신장을 구해본다.

In [ ]:
list2 = [172.5 , 162.9 ,161.7 ,160.1 ,161.8 ,159.2 ]

sum = 0
for i in list2:
    sum += i

avr2 = sum/len(list2)
avr2

3). A학급과 B학급 신장 자료를 통합한 리스트 AB를 만든다. (이어 붙이기) <br>

이 통합 리스트 AB를 가지고 평균을 구한다.

In [ ]:
list_join = list1+list2
list1.extend(list2) # +연산도 가능

print(list1)
print(list_join)

4). 통합 리스트 AB를 정렬해 본다.

In [ ]:
# list1.sort()
# list2.sort()
list_join.sort()

print(list1) #not sorted
print(list_join) #sorted

5). 통합 리스트 AB에서 가장 작은 값을 가져오시오.

In [ ]:
mininlist = list_join[0]
maxinlist = list_join[-1]

print("min : ", mininlist, "\t", "max : ", maxinlist)

6). 통합 리스트 AB에서 가장 큰 값을 가져오시오.

In [ ]:
mininlist = list_join[0]
maxinlist = list_join[-1]

print("min : ", mininlist, "\t", "max : ", maxinlist)

7). 통합 리스트 AB를 사용하여 신장이 165이하인 학생들 만의 리스트 C를 만든다.

In [ ]:
st_lower_165 = []
for i in list_join:
    if i <= 165:
        st_lower_165.append(i)
        continue
    else:
        break

print(st_lower_165)

리스트 C의 평균을 구하여라.

In [ ]:
sum = 0
for i in st_lower_165:
    sum += i

avr_st_lower_165 = sum/len(st_lower_165)
print(avr_st_lower_165)

8). 통합 리스트 AB를 사용하여 신장이 160이상 170이하인 학생들 만의 리스트 D를 만든다.

In [ ]:
# 8). 통합 리스트 AB를 사용하여 신장이 160이상 170이하인 학생들 만의 리스트 D를 만든다.
# solution 1 : 포문을 모두 돈다 조건문 두번 수행
# 장점 : sorting 되지 않아도 사용 가능
# 단점 : 자료가 많은 경우 모든 자료를 비교하기에 빅데이터 관점에서는 개별적 모듈로 부적합
st_between_160_170 = []
for i in list_join:
    if i > 160 and i < 170:
        st_between_160_170.append(i)

print(st_between_160_170)

# solution 2 : for 문을 빠져나오는 조건을 i < 170 으로...
# 장점 : for 문을 전부 돌지 않는다.
# 한계 : sorting 된 자료를 순차탐색 하는 경우에만 국한
st_between_160_170 = []
list_join.sort()
for i in list_join:
    if i >= 170:
        break
    elif i > 160:
        st_between_160_170.append(i)
        # continue

print(st_between_160_170)

리스트 D의 평균을 구하여라.

In [ ]:
sum = 0
for i in st_between_160_170:
    sum += i

st_between_160_170 = sum/len(st_between_160_170)
print("average of st_between_160_170 :", st_between_160_170)