### 다음 물음에 답하는 코드를 작성하시오.

1). A학급의 학생 이름은 다음과 같다:

Bob <br>
John <br>
Sara <br>
Jack <br>
John <br>
Paul <br>
Belinda <br>
Jessica <br>

위 자료를 리스트 a로 정리해본다.

In [2]:
x = '''Bob 
John 
Sara 
Jack 
John 
Paul 
Belinda 
Jessica '''

list1 = x.replace(' ', '').split('\n')
print(list1)

['Bob', 'John', 'Sara', 'Jack', 'John', 'Paul', 'Belinda', 'Jessica']

학생 이름을 대문자화 한 리스트 A를 만들어 보시오.

In [3]:
x = x.upper()
list1 = x.replace(' ', '').split('\n')
print(list1)

['BOB', 'JOHN', 'SARA', 'JACK', 'JOHN', 'PAUL', 'BELINDA', 'JESSICA']

2). A학급의 학생 이름은 다음과 같다:

John <br>
John <br>
Rebecca <br>
Paula <br>
Brandon <br>
Elilzabeth <br>
Sara <br>

A학급과 같은 방법으로 대문자화 한 리스트 B를 만들어 보시오.

In [4]:
y = '''John 
John 
Rebecca 
Paula 
Brandon 
Elilzabeth 
Sara '''
y = y.upper()
list2 = y.replace(' ', '').split('\n')
print(list2)

['JOHN', 'JOHN', 'REBECCA', 'PAULA', 'BRANDON', 'ELILZABETH', 'SARA']

3). A학급과 B학급 명부를 통합한 리스트 AB를 만든다. (이어 붙이기) <br>

전체 학생수는?

In [5]:
list_total = list1 + list2
print(len(list_total))

15

4). 통합 리스트 AB를 알파벳 순으로 정렬해 본다.

In [6]:
list_total.sort()
print(list_total)

['BELINDA', 'BOB', 'BRANDON', 'ELILZABETH', 'JACK', 'JESSICA', 'JOHN', 'JOHN', 'JOHN', 'JOHN', 'PAUL', 'PAULA', 'REBECCA', 'SARA', 'SARA']

5). 통합 리스트 AB에서 서로 다른 이름의 가짓수는?

In [7]:
# sol 1 : set을 이용한 방법
set_st = set()

for i in list_total:
    set_st.add(i)
print(type(set_st), len(set_st), set_st)

# 만약 set을 리스트로 바꾸려면
result = list(set_st)
print(type(result), len(result), result)

# sol 2 : for 문 돌면서 비교 후 결과리스트에 저장하거나 리스트 자체에서 제거
# 코드도 길어지고, 의미도 별로 없으므로 skip
# 스튜던트를 각각 객체로 만들고, 학생마다 ID 를 주어야 할 것!
# 이 후 ID 로 루프 돌면서 이름이 같은 학생은 list에 append 하지 않고, 어쩌구...
# for 문은 이중 포문
# for 1 : 본래의 리스트를 반복
# for 2 : 반복문 내 i 와 생성된 리스트를 비교

<class 'set'> 11 {'BOB', 'ELILZABETH', 'SARA', 'PAULA', 'JOHN', 'JESSICA', 'JACK', 'PAUL', 'REBECCA', 'BELINDA', 'BRANDON'}
<class 'list'> 11 ['BOB', 'ELILZABETH', 'SARA', 'PAULA', 'JOHN', 'JESSICA', 'JACK', 'PAUL', 'REBECCA', 'BELINDA', 'BRANDON']

6). 통합 리스트 AB에서 'J'로 시작하는 이름만 출력해 본다.

In [8]:
for i in list_total:
    if i[0] == 'J':
        print(i)

JACK
JESSICA
JOHN
JOHN
JOHN
JOHN

7). 통합 리스트 AB에서 'A'로 끝나는 이름만 출력해 본다.

In [9]:
for i in list_total:
    if i[-1] == 'A':
        print(i)

BELINDA
JESSICA
PAULA
REBECCA
SARA
SARA